


<html>
<head>
<title>Welcome to SRIKON Healthcare Service Private Limited</title></head>
<body topmargin="0" leftmargin="0" bgcolor="#4F4C2D">
<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="50%">
        <img border="0" src="img/logo.jpg" width="213" height="117"></td>
              <td width="50%">
                <p align="right"><embed src="img/innermast.swf" width="735" height="117"></p>
            </td>
            </tr>
          </table>
        </div>
    </td>
    </tr>
    <tr>
      <td width="100%">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" background="img/bg.jpg" height="48">
          <tr>
            <td width="50%"></td>            <td width="50%"><map name="FPMap0">
        <area href="feedback.asp" shape="rect" coords="208, 0, 309, 43">
        <area href="services.asp" shape="rect" coords="0, 5, 107, 43">
        <area href="contact.asp" shape="rect" coords="311, 0, 412, 44">
        <area href="home.asp" shape="rect" coords="412, 0, 519, 47"></map><img border="0" src="img/aboutus.jpg" usemap="#FPMap0"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="22%" valign="top" background="img/aboutbg.jpg"><br>
                <div align="center">
                  <table border="0" cellpadding="5" cellspacing="0" width="80%">
                    <tr>
                      <td width="100%" height="35"></td>
                    </tr>
                    <tr>
                      <td width="100%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mission.asp"><font face="Tahoma" size="2" color="#4F4C2D">Mission &amp; Vision</a></font> </b></td>
                    </tr>
                      <tr>
                      <td width="100%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b><b><a href="guiding.asp"><font face="Tahoma" size="2" color="#4F4C2D">Guiding Philosophy</font></a></b></td>
                    </tr>
                    <tr>
                      <td width="100%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="goals.asp"><font face="Tahoma" size="2" color="#4F4C2D">Goals and Objective</a></font></b></td>
                    </tr>
					<tr>
                      <td width="100%"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b><b><a href="team.asp"><font face="Tahoma" size="2" color="#4F4C2D">SRIKON Team</a></font></b></td>
                    </tr>

                      <tr>
                    <td>
                      <p align="right">&nbsp;</p>
                      <p align="right"><embed src="img/yellow.swf" width="180" height="172">
                      </p>
                      <p align="right">&nbsp;
                      </p>
                    </td></tr>
                  </table>
                </div>
              </td>
              <td width="735" bgcolor="#FFE784" height="400" valign="top"><br>
                <div align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="90%">
                    <tr>
                      <td width="100%"><font face="Tahoma" size="2">SRIKON is a  Hyderabad based Health Care company  introducing a unique primary care program, first time in India, where the primary objective is to re-introduce the concept of a <i>Family Physician</i> who would see an ailment of a person in the context of their family than the ailment itself.  With the growth of multiple specialties and an increasing number of care providers, options often leave the patient confused. The model emphasises on refer less and resolve more.  There is an increasing need to develop unique care delivery model that focuses on <i>improving and monitoring quality of care</i>, better case-management and referral methodology with proper use of technology. We plan to develop software to maintain electronic medical records that helps in report generation and epidemiological modeling for better case management. <br><br>
SRIKON wishes to develop and foster physicians and health care teams that will provide medical care the way it is meant to be - assisting families in making informed decisions; following standard guidelines; discussing treatment options and providing adequate follow-up.
</font>
                      </td>
                    </tr>
                  </table>
                </div>
                <p><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#1F7C7A" height="20">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" height="15">&nbsp;</td>
    </tr>
	</table>
</div>

<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
  <tr>
      <td width="100%" bgcolor="#165A58" height="55">        <p align="center"><font color="#FFFFFF" face="Tahoma" size="1">Copyright © 2011 SRIKON Healthcare Service Private Limited. All rights reserved.</font></p></td>
    </tr>
  </table>
</div>

</body>

</html>
