
<html>
<head>
<title>Welcome to SRIKON Healthcare Service Private Limited | <%= @title %></title>
</head>
<body topmargin="0" leftmargin="0" bgcolor="#4F4C2D">
<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="50%">
        <img border="0" src="/img/logo.jpg" width="213" height="117"></td>
              <td width="50%">
                <p align="right"><embed src="/img/innermast.swf" width="735" height="117"></p>
            </td>
            </tr>
          </table>
        </div>
    </td>
    </tr>
    <tr>
      <td width="100%">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" background="/img/bg.jpg" height="48">
          <tr>
            <td width="50%"></td>
            <td width="50%"><map name="FPMap0">
        <area href="feedback" shape="rect" coords="208, 0, 309, 43">
        <area href="services" shape="rect" coords="0, 5, 107, 43">
        <area href="about" shape="rect" coords="106, 0, 207, 44">
        <area href="home" shape="rect" coords="412, 0, 519, 47"></map><img border="0" src="/img/contact.jpg" usemap="#FPMap0"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="22%" valign="top" background="/img/contactbg.jpg">&nbsp;
                <div align="center">
                  <table border="0" cellpadding="5" cellspacing="0" width="80%">
                    <tr>
                      <td width="100%" height="35">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="100%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="100%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="100%">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="100%">&nbsp;&nbsp;</td>
                    </tr>
                      <tr>
                    <td>
                      <p align="right">&nbsp;</p>
                      <p align="right"><br>
                      <br>
                      <embed src="img/red.swf" width="180" height="172">
                      </p>
                    </td></tr>
                  </table>
                </div>
              </td>
              <td width="735" bgcolor="#4DD3D0" height="400" valign="top"><br>
                <div align="center">
                  <table border="0" cellpadding="0" cellspacing="0" width="90%">
                    <tr>
                      <td width="100%"><font face="Tahoma" size="2"><b>SRIKON Healthcare Service Private Limited</b><br>
                      8-2-120/77/5, <br>Road No. 2, <br>Banjara Hills, <br>Hyderabad 500034, <br>AP., INDIA.
					<br>
                      <br><b>Tel.</b>:040-23551039, 040-40140429<br><br>
<b>Mobile</b>:98661-78956, 98480-21510<br><br>
                       <a href="mailto:care@srikon.com">care@srikon.com</a><br><br>
                      </font></td>
                    </tr>
                  </table>
                </div>
                <p><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#1F7C7A" height="20">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" height="15">&nbsp;</td>
    </tr>
	</table>
</div>

<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
  <tr>
      <td width="100%" bgcolor="#165A58" height="55">        <p align="center"><font color="#FFFFFF" face="Tahoma" size="1">Copyright © 2011 SRIKON Healthcare Service Private Limited. All rights reserved.</font></p></td>
    </tr>
  </table>
</div>

</body>

</html>
