<!DOCTYPE html>
<html>
<head>
<title>Welcome to SRIKON Healthcare Service Private Limited | <%= @title %></title>
</head>
<div align="center">
          <table border="0" cellpadding="10" cellspacing="0" width="95%">
            <tr>
              <td width="90%" valign="top" bgcolor="#FFD18C"><p align="justify"><font face="Tahoma" size="2">
<body>
<h1>Home</h1>
<tr>
      <td width="100%"><embed src="/img/home.swf" width="946" height="190"></td>
    </tr>



<p>This is the home page for the <a href="http://Srikon.com/">Srikon home page</a>
sample application.
</p>
</td></tr></table></body></div>
<div align="center">
<table border="0" cell padding ="10" cellspacing="0" width="95%">
<tr>
<td width="90%" valign="top" bgcolor="#ffd18c:>
<p align="justify">

We are a Hyderabad based health service provider, introducing for the first time in India, a unique primary care program.  The primary objective is to bring back the valuable role of a Family Physician who assesses and treats ailments in the context of the family and environment, rather than treating it in isolation.  Our model emphasizes on the optimal delivery of primary care, with the motto "Refer less and resolve more".  A dedicated team will develop, update and maintain evidence based guidelines.  Optimal use of technology to collect, analyse and share patient health information and between different providers and clients accessing the service is planned.  The delivery model focuses on improving and monitoring quality of care, better case-management and referral methodology.  A strong research agenda which includes appropriate epidemiological modeling will support individual and group care (either in cooperates or institutions) will back the care delivery process.   <br><br>
We aim to develop and foster physicians and health care teams that will provide medical care the way it is meant to be - assisting families in making informed decisions; following standard guidelines; discussing treatment options and providing adequate follow-up. 

              </td>
<!--  <center>
              <td width="2%" valign="top">
              </td>
  </center>
              <td width="50%" bgcolor="#FFE377" valign="top">
                <p align="left"><font face="Tahoma" size="2"><br>
                With </font><a href="homecare.asp"><img border="0" src="img/homecare.gif" width="90" height="16" align="absbottom"></a><font face="Tahoma" size="2">, access expert healthcare round-the-clock without leaving your home.</font></p>
                <ul>
                  <li>
                    <p align="left"><font face="Tahoma" size="2">Access comprehensive medical advice and care right in the comfort of home.&nbsp;</font></li>
                  <li>
                    <p align="left"><font face="Tahoma" size="2"> From medical check ups, to follow ups, specialist consultations, sample collections, and even 24x7 emergency care.&nbsp;</font></li>
                </ul>
                <p align="right"><font face="Tahoma" size="2"><br>
                <br>
                <br>
                <font color="#4F4C2D"><a href="homecare.asp"><br><font color="#4F4C2D">
		Learn More…<br>
        <br>
                </font></a></font>
                <br>
                </font>
              </td>-->
            </tr>
          </table>
        </div>

