
<html><head>
<title>Welcome to SRIKON Healthcare Service Private Limited | <%= @title %></title>
<script language="JavaScript" src="calendar2.js"></script>
<script type="text/javascript" language="javascript" src="validation.js"></script>
</head>
<body topmargin="0" leftmargin="0" bgcolor="#4F4C2D">
<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="50%">
        <img border="0" src="/img/logo.jpg" width="213" height="117"></td>
              <td width="50%">
                <p align="right"><embed src="/img/innermast.swf" width="735" height="117"></p>
            </td>
            </tr>
          </table>
        </div>
    </td>
    </tr>
    <tr>
      <td width="100%">
        <table border="0" width="100%" cellpadding="0" cellspacing="0" background="/img/bg.jpg" height="48">
          <tr>
            <td width="50%"></td>
            <td width="50%"><map name="FPMap0">
        <area href="feedback" shape="rect" coords="208, 0, 309, 43">
        <area href="services" shape="rect" coords="0, 5, 107, 43">
        <area href="about" shape="rect" coords="101, 4, 208, 42">
        <area href="contact" shape="rect" coords="311, 0, 412, 44">
        <area href="home" shape="rect" coords="412, 0, 519, 47"></map><img border="0" src="/img/services.jpg" usemap="#FPMap0"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%">
        <div align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="22%" valign="top" background="/img/servicebg.jpg" height="400">&nbsp;
                <div align="center">
                  <table border="0" cellpadding="5" cellspacing="0" width="80%">
                    <tr>
                      <td width="100%" height="35">&nbsp;</td>
                    </tr>
                    <tr>
                      <td width="100%"><!--<b><map name="FPMap1">
                        <area href="homecare.asp" shape="rect" coords="1, 2, 207, 40">
                        <area href="awaycare.asp" shape="rect" coords="0, 40, 207, 74"></map><img border="0" src="/img/servicelinks.jpg" width="208" height="75" usemap="#FPMap1"></b>--></td>
                    </tr>
                    <tr>
                      <td width="100%" height="31">&nbsp;</td>
                    </tr>
                      <tr>
                    <td>
                      <p align="right">
                      <br>
                      <embed src="/img/green.swf" width="180" height="172">
                      <br>
                      <br>
                      <br>
                      <br>
                      </p>
                    </td></tr>
                  </table>
                </div>
              </td>
              <td width="735" bgcolor="#ECFFB0" height="400" valign="top"><br>
               <div align="center">   <table border="0" cellpadding="0" cellspacing="0" width="90%">
                    <tr>
                      <td width="100%"><p align="justify">
  <font face="Tahoma" size="2"><B>Package A</b> <p align="justify">

<b>Services offered:</b>
<p align="left"><ol>
<li>6 house visits (3 compulsory visits, every 4 months).</li>
<li>Regular updates after ever house visit. </li>
<li>Consultation for routine medical requirements or for advice.</li>
<li>Medical Counseling - Educating and helping people to cope with their medical problems, making them understand their present medical condition (if any). </li>
<li>Specialist referral - Referring to the concerned specialist if required after initial work up. </li>
<li>24/7 assistance on phone for any health related query. </li>
<li>Primary-care consultation - Treating and prescribing medicines wherever required.</li>
<li>Home delivery of monthly refills for people on regular medication.</li>
<li>Facilitation of sample collection.</li> 
<li>We keep you informed on your regular investigations and follow up visits with your specialist.</li>
<li>We liaise with your specialist wherever required. </li> 
<li>Guidance in hospitalization wherever possible.</li>
<li>Diet and nutrition planning as required.</li></ol>

<b>Package B </b>- Customized package. 
<ol><li>The package is designed to suit independent needs of a member.</li>
<li>Clients who have bedridden members will be assessed at by the visiting doctor. Cost of the package will depend on visit by doctors, physiotherapists, dieticians etc., providing refills, conducting investigations etc.</li>
<li>Medical counseling will be provided by the doctor depending on the requirement of the member and the caretaker.</li></ol>

For further Information call us on: +91-40-23551039; +91-40-4014429<br> or write to us on <a href="mailto:care@srikon.com">care@srikon.com</a>.
<br><br>
</font>

                    </td>
                    </tr>
                  </table>
                </div>

              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#1F7C7A" height="20">&nbsp;</td>
    </tr>
    <tr>
      <td width="100%" height="15">&nbsp;</td>
    </tr>
	</table>
</div>

<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" width="948" bgcolor="#FFFFFF">
  <tr>
      <td width="100%" bgcolor="#165A58" height="55">        <p align="center"><font color="#FFFFFF" face="Tahoma" size="1">Copyright © 2011 SRIKON Healthcare Service Private Limited. All rights reserved.</font></p></td>
    </tr>
  </table>
</div>

</body>

</html>
  <script type="text/javascript">

function toggle_visibility1(k){
//  if (i == k)
  //{
    var e = document.getElementById("layer11"); //rguments[i]).style,d = e.display;
	//e.display = (e.display == 'block') ? 'none' : 'block';
	//var udiv2 = document.getElementById("udiv2");
alert(e);
//document.getElementById("Layer11").style.display = visibility;  
	e.style.display = (e.style.display == 'block') ? 'none' : 'block';

	//e.display = "block"  ? "none" : "block";
//	e.style.display = (e.style.display = 'block'); 
  //}
}

</script>

<script language="javascript" type="text/javascript">  
function setVisibility(id, visibility) { 
	document.getElementById(id).style.display = visibility;  
	} 
	</script> 